* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #313053;
    scroll-behavior: smooth;
    margin: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
    color: var(--title-color);
}