/*.splendid-flowers {
    background-image: url("../img/splendid-flowers-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}*/

.splendid-flowers__container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.splendid-flowers__text {
    padding-bottom: 75px;
}

.splendid-flowers__title {
    font-size: 56px;
    line-height: 67px;
}

.splendid-flowers__paragraph {
    font-size: 18px;
    padding-top: 30px;
}

.splendid-flowers__image {
    max-width: 70%;
}

@media (min-width: 770px) {
    .splendid-flowers__container {
        flex-direction: row;
    }
    .splendid-flowers__title {
        font-size: 63px;
        line-height: 75px;
    }
    .splendid-flowers__image {
        max-width: 100%;
        height: auto;
    }
}
@media (min-width: 1000px) {
    .splendid-flowers__title {
        font-size: 70px;
        line-height: 84px;
    }
}